################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ha-sus-ck-sex/copilot-chat/1be55f14/sessions
/.vs/ha-sus-ck-sex/FileContentIndex
/ha-sus-ck-sex/bin